<p id="notice"><%= notice %></p>

<h1>お弁当一覧</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bentos.each do |bento| %>
      <tr>
        <td><%= bento.name %></td>
        <td><%= bento.url %></td>
        <td><%= link_to 'Show', bento %></td>
        <td><%= link_to 'Edit', edit_bento_path(bento) %></td>
        <td><%= link_to 'Destroy', bento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bento', new_bento_path %>
